__pycache__
.ipynb_checkpoints
.venv
*.pdf
*.jpg
*.cache

Lab5_ImageProcessing/opencv_images
Lab5_ImageProcessing/tensorflow_images
Lab5_ImageProcessing/test_images
Lab5_ImageProcessing/results
Lab5_ImageProcessing/*.pt